body {
    background-color: lightblue;
}

#sidebar {
    background-color: rgb(225, 143, 143);
}

#todo-section {
    background-color: bisque;
}

#todo-pop-up {
    background-color: rgb(139, 95, 139);
}

#todo-main-section {
    background-color: aqua;
}

#todo-sidebar {
    background-color: yellow;
}